<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Song Analyzer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>🎶 Music Finder  🎶</h1>
        <form method="POST">
            <input type="text" name="song" placeholder="Enter song title" required>
            <input type="text" name="artist" placeholder="Enter artist name" required>
            <button type="submit">Get it now</button>
        </form>
    </div>
</body>
</html>
